<div class="containerHome">
  <div *ngIf="loading" class="loading">
    <span> Loading articles...</span> <mat-spinner color="accent"></mat-spinner>
  </div>

  <mat-tab-group
    *ngIf="!loading"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    color="accent"
    [selectedIndex]="selectedIndex"
  >
    <mat-tab
      *ngFor="let tab of tabs; let index = index"
      [label]="tab.label | titlecase"
    >
      <app-post *ngFor="let item of tab.feed" [post]="item"></app-post>
    </mat-tab>
  </mat-tab-group>

  <app-tags
    *ngIf="!loading"
    [tags]="tags"
    (tagsChanged)="changeTag($event)"
  ></app-tags>
</div>
