@import "src/assets/styles/colors.scss";

mat-card {
  background-color: #333;
  mat-card-header {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.title {
  color: white;
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.subtitle {
  display: flex;
  gap: 20px;
  align-items: center;
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    .img {
      padding-top: 5px;
      img {
        border-radius: 100%;
        height: 26px;
        border-radius: 50px;
        margin-right: 5px;
      }
    }
    .author {
      .username {
        color: white;
        margin-bottom: -5px;
      }
      .createdAt {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.8rem;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 7px;
    button {
      display: flex;
      align-items: center;
      padding: 2px 8px;
      background-color: inherit;
      border-radius: 5px;
      font-size: 0.9rem;
      &:hover {
        cursor: pointer;
      }
    }
    .delete {
      color: #bd4f4f;
      border-color: #bd4f4f;
      &:hover {
        color: white;
        background-color: #bd4f4f;
      }
    }
    .follow {
      gap: 5px;
      color: $grey;
      border: 2px $grey solid;
      &.following {
        color: white;
        background-color: $grey-hover;
      }
      span {
        padding-top: 1px;
      }
      &:hover {
        color: white;
        background-color: $grey;
      }
    }
    .favorite {
      gap: 5px;
      color: $main;
      border: 2px $main solid;
      &.favorited {
        color: white;
        background-color: $main;
      }
      &:hover {
        color: white;
        background-color: $main;
      }
    }
  }
}
