<div class="container">
  <h1>Sign up</h1>
  <a routerLink="/auth">Have an account?</a>
  <div class="error" *ngIf="errors">{{ errors }}</div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <p *ngIf="userName.errors && userName.touched">*Username is required</p>
      <input type="text" id="username" formControlName="username" placeholder="Username">
    </div>
    <div>
      <p *ngIf="email.errors?.['required'] && email.touched">*Email is required</p>
      <p *ngIf="email.errors?.['email'] && email.touched">*Enter valid email</p>
      <input type="text" id="email" formControlName="email" placeholder="Email">
    </div>
    <div>
      <p *ngIf="password.errors?.['required'] && password.touched">*Password is required</p>
      <p *ngIf="password.errors?.['minlength'] && password.touched">*Enter at least
        {{ password.errors?.['minlength'].requiredLength }} character.</p>
      <input type="password" id="password" formControlName="password" placeholder="Password">
    </div>

    <button [disabled]="registerForm.invalid || (isSubmitted$ | async)" type="submit">Submit</button>
  </form>
</div>
