@import "src/assets/styles/colors.scss";
.container {
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
  font-size: 1.2rem;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  .body-text {
    margin-bottom: 15px;
  }
}

.loading {
  margin-top: 30px;
}

.sign-in {
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  text-align: center;
  a {
    color: $main;
    &:hover {
      color: $grey-hover;
    }
  }
}
