.container {
  margin: 0 auto;
  width: 30%;
  text-align: center;

  h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 500;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.field {
  input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    color: #55595c;
    font-size: 1rem;
    line-height: 1.25;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  textarea {
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
  }
}
