<div class="container">
  <h1>Your Settings</h1>
  <form>
    <div class="field">
      <input type="text" name="image" id="" placeholder="URL of profile picture">
    </div>
    <div class="field">
      <input type="text" name="username" id="" placeholder="Username">
    </div>
    <div class="field">
      <textarea name="" id="" cols="30" rows="10" placeholder="Short bio about you"></textarea>
    </div>
    <div class="field">
      <input type="text" name="email" id="" placeholder="Email">
    </div>
    <div class="field">
      <input type="text" name="password" id="" placeholder="New Password">
    </div>
  </form>
</div>