<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="header-image"> <img [src]="post.author.image" alt=""></div>
    <mat-card-title>{{ post.author.username }}</mat-card-title>
    <mat-card-subtitle> {{ post.createdAt | date}} </mat-card-subtitle>
    <button class="like-btn" mat-fab extended color="accent" aria-label="Example mini fab with a heart icon">
      <mat-icon color="primary">favorite</mat-icon>
      {{ post.favoritesCount }}
    </button>
  </mat-card-header>
  <mat-card-content>
    <h3 class="bodyTitle">{{ post.title }}</h3>
    <small class="description"> {{ post.description}} </small>
  </mat-card-content>
  <mat-card-footer>
    <small class="read-btn">Read more...</small>
  </mat-card-footer>
</mat-card>