<mat-card class="card">
  <mat-card-header class="card-header">
    <div mat-card-avatar class="header-image"> <img [src]="post.author.image" alt=""></div>
    <mat-card-title>{{ post.author.username }}</mat-card-title>
    <mat-card-subtitle> {{ post.createdAt | date}} </mat-card-subtitle>
    <button [disabled]="disabled" (click)="favorite()" [ngClass]="{'like-btn': true, 'liked': favorited}" mat-fab
      extended color="primary">
      <mat-icon>favorite</mat-icon>
      {{ favoritesCount }}
    </button>
  </mat-card-header>
  <mat-card-content (click)="navigateToPostPage()">
    <h3 class="bodyTitle">{{ post.title }}</h3>
    <small class="description"> {{ post.description}} </small>
  </mat-card-content>
  <mat-card-footer class="mat-footer">
    <small class="read-btn" (click)="navigateToPostPage()">Read more...</small>
    <mat-chip-listbox aria-label="tags">
      <mat-chip *ngFor="let tag of post.tagList" color="primary" highlighted>
        {{ tag }}
      </mat-chip>
    </mat-chip-listbox>
  </mat-card-footer>
</mat-card>