@import "src/assets/styles/colors.scss";

.nav-bar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  span {
    color: $main;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .links {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
      color: rgb(45, 45, 45);
      &:hover {
        color: rgb(204, 204, 204);
      }
    }
  }
}
