@import "src/assets/styles/colors.scss";

header {
  margin-bottom: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  div {
    margin: 0 auto;
  }
}

.nav-bar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  span {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .links {
    display: flex;
    gap: 15px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: rgb(148, 148, 148);
      }
    }
  }
}
