@import "src/assets/styles/colors.scss";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.3);
  div {
    margin: 0 auto;
  }
}

.nav-bar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.3);
  span {
    color: $main;
    font-size: 1.2rem;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }

  .links {
    display: flex;
    gap: 20px;
    a {
      text-decoration: none;
      color: $main;
      font-size: 1.1rem;
      font-weight: 500;

      &:hover {
        color: #66bb6aa2;
        cursor: pointer;
      }
    }
  }
}
