<header>
  <mat-toolbar color="primary" class="nav-bar-container">
    <h1><a routerLink="/"> My Blog </a></h1>
    <ng-container *ngIf="!loading">
      <div *ngIf="!isLogIn; else logInType" class="links">
        <a class="link" routerLink="/">Home</a>
        <a class="link" routerLink="/auth/sign-in">Sign in</a>
        <a class="link" routerLink="/auth/register">Sign up</a>
      </div>
      <ng-template #logInType>
        <div class="links">
          <a class="link" routerLink="/">Home</a>
          <a class="link" routerLink="/new-post"
            ><mat-icon>library_add</mat-icon> <span>New Post</span></a
          >
          <a class="link" [matMenuTriggerFor]="menu">
            <img class="user-pic" [src]="profileUrl" />
            <span> {{ username }}</span>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <a routerLink="/account" class="link"
                  ><mat-icon color="accent" [ngStyle]="{ marginRight: 0 }"
                    >settings_applications</mat-icon
                  >
                  <span>Settings</span></a
                >
              </button>
            </mat-menu>
          </a>
          <a class="link" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> <span>Log out</span>
          </a>
        </div>
      </ng-template>
    </ng-container>
  </mat-toolbar>
</header>

<ng-content></ng-content>

<footer>
  <mat-toolbar color="primary">
    <div>© {{ date }}. An interactive learning project</div>
  </mat-toolbar>
</footer>
